# Files and folders related to build/test tools
/phpunit.xml
/node_modules
/npm-debug.log
/vendor/
.vscode
.wp-env.override.json
composer.lock
.phpunit.result.cache

# Operating system specific files
.DS_Store

# Cache files
.phpcs/*.json
