<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="BP REST API" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>PHP_CodeSniffer standard for the BuddyPress REST API plugin.</description>

	<!-- Load WordPress Coding standards -->
	<rule ref="WordPress"/>

	<!-- Load PHPCompatibilityWP standards -->
	<rule ref="PHPCompatibilityWP" />

	<!-- Configure the PHP version -->
	<config name="testVersion" value="5.6-"/>

	<!-- Check against minimum WP version. -->
	<config name="minimum_supported_wp_version" value="4.9"/>

	<!--
	Pass some flags to PHPCS:
	p flag: Show progress of the run.
	s flag: Show sniff codes in all reports.
	n flag: Do not print warnings.
	-->
	<arg value="ps" />

	<!-- Enable colors in report -->
	<arg name="colors"/>

	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache" value=".phpcs/cache.json" />

	<!-- Check 20 files in parallel. -->
	<arg name="parallel" value="20"/>

	<!-- Set severity to 1 to see everything that isn't effectively turned off. -->
	<arg name="severity" value="1" />

	<!-- What to exclude -->
	<exclude-pattern>*/**/tests/</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="buddypress" />
			</property>
		</properties>
	</rule>

	<!-- Allow array disalignment -->
	<rule ref="WordPress">
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
	</rule>
</ruleset>
